# Overlap Thought Expriment
A 100,000 user dataset with PII from a company called Finn Corp is compared to a 500,000 dataset with PII that includes demographic data. The goal of this overlap analysis is to first see what the % overlap is and second define demographic information.

## Business Questions
- What is the percent overlap between the 2 datasets?
- What is the demographic information of the matched dataset?

In [1]:
# Import Modules
import pandas as pd
import numpy as np
from everyone_anonymous import something_nothing as sn
from everyone_anonymous import add_something as asome

# Set parameters
finn_corp_size = 10
demo_data_size = 20
overlap_per = .50
overlap = int(overlap_per * finn_corp_size)
non_overlap = int(demo_data_size - overlap)

In [2]:
# Create Finn Corp Datasets
finn_corp_obj = {
            'First_Name': [],
            'Last_Name': [],
            'Email': []
        }

finn_corp = sn(data=finn_corp_obj,nrows=finn_corp_size).generate_data()
finn_corp_df = pd.DataFrame(finn_corp)
finn_corp_df.head()

  First_Name  Last_Name                       Email
0     Brigid     Alecia      BrigidAlecia@gmail.com
1      Avery     London       AveryLondon@gmail.com
2      Jules      Lilly        JulesLilly@gmail.com
3    Abigale  Rosalinda  AbigaleRosalinda@gmail.com
4    Talmage    America    TalmageAmerica@gmail.com

In [3]:
# Create Overlapped Demo Dataset
overlap_demo_obj = {
            'First_Name': finn_corp_obj['First_Name'][:overlap],
            'Last_Name': finn_corp_obj['Last_Name'][:overlap],
            'Email': finn_corp_obj['Email'][:overlap],
        }

demo_data_overlap = asome(data=overlap_demo_obj,nrows=overlap).add_demo_data()
demo_data_df = pd.DataFrame(demo_data_overlap)

In [4]:
# Create Non-overlapped Demo Dataset
nonoverlap_demo_obj = {
            'First_Name': [],
            'Last_Name': [],
            'Email': [],
            'Age': [],
            'Gender': [],
            'HHI': []
        }

demo_data_nooverlap = sn(data=nonoverlap_demo_obj,nrows=non_overlap).generate_data()
demo_data_nooverlap_df = pd.DataFrame(demo_data_nooverlap)

In [5]:
# Create full demo data set.
for i in range(len(demo_data_nooverlap['Email'])):
    demo_data_overlap['First_Name'].append(demo_data_nooverlap['First_Name'][i])
    demo_data_overlap['Last_Name'].append(demo_data_nooverlap['Last_Name'][i])
    demo_data_overlap['Email'].append(demo_data_nooverlap['Email'][i])
    demo_data_overlap['Age'].append(demo_data_nooverlap['Age'][i])
    demo_data_overlap['Gender'].append(demo_data_nooverlap['Gender'][i])
    demo_data_overlap['HHI'].append(demo_data_nooverlap['HHI'][i])
    
demo_data = demo_data_overlap
demo_data_df = pd.DataFrame(demo_data)
demo_data_df.head(20)

,First_Name,Last_Name,Email,Gender,Age,HHI
0,Brigid,Alecia,BrigidAlecia@gmail.com,Male,79,"More than $500,000"
1,Avery,London,AveryLondon@gmail.com,Male,64,"More than $500,000"
2,Jules,Lilly,JulesLilly@gmail.com,Female,28,"More than $500,000"
3,Abigale,Rosalinda,AbigaleRosalinda@gmail.com,Male,69,"More than $500,000"
4,Talmage,America,TalmageAmerica@gmail.com,Female,26,"\$200,001 - $500,000"
5,Lucia,Lucca,LuciaLucca@gmail.com,Male,62,"More than $500,000"
6,Keshawn,Takeshi,KeshawnTakeshi@gmail.com,Male,60,"\$200,001 - $500,000"
7,Molly,Alonso,MollyAlonso@gmail.com,Male,44,"\$200,001 - $500,000"
8,Darrell,Karl,DarrellKarl@gmail.com,Male,73,"Less than $50,000"
9,Ezequiel,Emberly,EzequielEmberly@gmail.com,Female,41,"\$200,001 - $500,000"
10,Felipe,Sol,FelipeSol@gmail.com,Female,46,"\$100,001 - $200,000"
11,Gentry,Jazlyn,GentryJazlyn@gmail.com,Female,27,"\$200,001 - $500,000"
12,Byron,Jaden,ByronJaden@gmail.com,Female,57,"\$200,001 - $500,000"
13,Avani,Elisa,AvaniElisa@gmail.com,Female,69,"\$50,001 - $100,000"
14,Hunter,Jaiden,HunterJaiden@gmail.com,Female,29,"\$200,001 - $500,000"
15,Gary,Nelson,GaryNelson@gmail.com,Female,18,"\$200,001 - $500,000"
16,Dallas,Nigel,DallasNigel@gmail.com,Female,27,"\$200,001 - $500,000"
17,Riya,Delaney,RiyaDelaney@gmail.com,Female,54,"Less than $50,000"
18,Kourtney,Magnus,KourtneyMagnus@gmail.com,Male,32,"\$100,001 - $200,000"
19,Everardo,Gable,EverardoGable@gmail.com,Male,77,"\$200,001 - $500,000"